<!-- Loop over each object in the projects array -->
{{#each plans as |plan| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
  
      <a href="/plan/{{plan.location}}"></a>
    </h2>
    <p>
      <span for="img" aria-label="money">✈️</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="trip-location">{{plan.location}}</span>
      trip!
    </p>
    <p>{{plan.user.name}} will be going {{format_date plan.date_start}} until {{format_date plan.date_end}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{plan.description}}
    </p>
  </div>
{{/each}}