<div class="post">
  <div class="post-body">
    <img src="{{ img_src }}" alt="No image added" />
    <p>
      <span for="img" aria-label="money">✈️</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="trip-location">{{location}}</span>
      trip!
    </p>
    <p>{{user.name}} will be going {{format_date date_start}} until {{format_date date_end}}</p>
    <p class="activities">Activities Planned:</p>
    <p>{{description}}</p>
  </div>
</div>

<div class="align-center" id="comment-title">
  <h3 id="comment-header">Comments</h3>
</div>
<div class="comments-body">
  <div class="post-comments">
    {{#each comments}}
    <div class="row" id="comment-box">
      <div class="col-md-4">
        <p><strong>{{ user.name }}</strong></p>
        <p id="comment-description">{{ description }}</p>
      </div>
      <div class="col-md-12">
        <div class="comment">
          <p>Date posted: {{ format_date date_posted }}</p>
        </div>
        <button class='btn btn-sm btn-danger delete-comment' user-id='{{user.name}}' data-id='{{id}}'>Delete Comment</button>
      </div>
    </div>
    {{/each}}

  </div>
  <div>
    {{#if logged_in}}
    <form class="form new-comment-form" id="comment-form">
      <input type="hidden" id="plan-id" name="plan_id" value="{{id}}" />

      <div class="form-group" id="comment-creator">
        <label for="new-comment-description">Add Comment:</label>
        <input class="form-input form-control" type="text" id="new-comment-description" name="description" />
      </div>
      <div class="form-group">
        <button  type="submit" class="btn btn-primary comment-btn">Post Comment</button>
      </div>
    </form>

    {{/if}}

  </div>
</div>

<script src="../js/comment.js"></script>